* {
   margin:0;
   padding:0;
}
#DustStorm{
	margin: 0 auto;
	width: 100%;
	background-color: white;
	background-image: url("images/active-desktop-wallpaper.jpg");
	font-family: Tahoma;
	background-position: center; 
	}
#menu ul, #logo ul{
	color: red;
	list-style: none;
	text-align: center;
	font-size: 2em;
}
#menu li, #logo li{
	display: inline;
	margin-left: 3.5%;
	margin-right: 3.5%;
}
.button {
	background-color: #d6d6d6;
	font-weight: bold;
	font-family: Arial;
	color: #0000ee;
}
#info>div{
	margin-top: 3%;
	padding-left: 30px;
	padding-right: 40px;
	font-size: 1.5em;
}
a, p {
	text-decoration: none;
	color: #fcf9f2;
}