@font-face {
    font-family: lost;
    src: url("../css/PETRICIC.ttf");
}

body {
	clear: both; 
	margin: 0 auto; 
	width: 100%;
	background: #e7e7e7;
}

.mainheader nav {
    background: #000000;
    height: 40px;
    border: transparent;
}

.mainheader nav ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

.mainheader nav ul li {
    display: inline; 
}

.mainheader nav a:link, 
.mainheader nav a:visited {
	color: #005CE6;
    font-size: 1.5em;
    font-family: lost;
	display: inline-block;
	height: 30px;
	padding: 5px 20px;
	text-decoration: none;
    margin: 0 auto;
}

.mainheader nav a:hover,
.mainheader nav a:focus {
    direction: rtl; 
    unicode-bidi: bidi-override;
    background-image: url(spray.png);
    background-position: center;
    background-repeat: no-repeat;
}

.mainheader img{
    width: 100%;
    height: auto;
    margin: 0;
    display: table-cell;
}

@media screen and (max-width: 800px) {
    
    .mainheader nav {
        font-size: 0.8rem;
        background: #000000;
        height: 138px;
    }
    
    .mainheader nav ul {
        padding-left: 0px;
    }
    
    .mainheader nav ul li {
        display: block;
        width: 100%;
    }
    
    .mainheader nav ul li a:link {
        height: 25px;
    }
    
    .mainheader nav ul li a:hover {
        background: none;
    }
}
    