@font-face {
    font-family: lost;
    src: url("./resources/PETRICIC.ttf");
}
*{
    padding: 0;
    margin: 0;
}
body{
    background: #000000;
}
.mainheader nav {
    background: #000000;
    border: transparent;
}

.mainheader nav ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

.mainheader nav ul li {
    display: inline;
}

.mainheader nav a:link,
.mainheader nav a:visited {
	color: #005CE6;
    font-size: 3em;
    font-family: lost;
	display: inline-block;
	height: 30px;
	padding: 5px 20px;
	text-decoration: none;
    margin: 0 auto;
}

.mainheader nav a:hover,
.mainheader nav a:focus {
    direction: rtl;
    unicode-bidi: bidi-override;
    background-image: url("/resources/spray.png");
    background-position: center;
    background-repeat: no-repeat;
}

.mainheader img{
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}
@media screen and (max-width: 800px) {

    .mainheader nav {
        font-size: 0.5rem;
        background: #000000;
    }

    .mainheader nav ul {
        padding-left: 0px;
    }

    .mainheader nav ul li {
        display: block;
        width: 100%;
    }

    .mainheader nav ul li a:link {
        height: 25px;
    }

    .mainheader nav ul li a:hover {
        background: none;
    }
}

@media screen and (max-width: 540px){

    .mainheader nav {
        font-size: 0.550rem;
        background: #000000;;
    }
}

section {
    color: white;
}
article {
    display: inline-block;
}
h1 {
    font-size: 3em;
    text-align: center;
    margin: 75px 0px;
}
h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    margin-bottom: 25px;
}
h4 {
    text-align: center;
    margin-bottom: 5px;
}
#Map {
    /* border shte se maha */
    width: 800px;
    height: 1000px;
    border: 2px solid #ff0000;
    margin: 20px;
    padding: 20px;
    float: left;
}
#Map img {
    width: 734px;
    height: 837px;
    margin-left: auto;
    margin-right: auto;
}
#Reach {
    /* border shte se maha */
    width: 800px;
    height: 1000px;
    border: 2px solid #ff0000;
    margin: 20px;
    padding: 20px;
}
#Reach img {
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
#Reach ul li {
    text-align: center;
    font-size: 1.5em;
    margin: 20px;
    padding: 20px;
    list-style: none;
}
#Reach ul li a {
    text-decoration: none;
}
#Reach ul li a:hover {
    text-decoration: underline;
    color: green;
}
#Reach ul li a:before {
    content: " « "
}
#Reach ul li a:after {
    content: " » "
}